<html>
<body>
<h1>Count</h1>
{{#messages}}
<div>
    <b>{{id}}</b>
    <b>{{brand}}</b>
    <b>{{model}}</b>
    <b>{{year}}</b>
    <b>{{engine}}</b>
    <b>{{fuel_consumption}}</b>
    <b>{{fuel_type}}</b>
</div>
{{/messages}}
</body>
</html>